<html>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
  </style>
  <body style="font-family: 'IBM Plex Sans', sans-serif;">
    <center>
      <div style="background-color: #ecebeb; border-radius: 0 50px; max-width: 900px; margin: 0; padding: 30px;">
        <h2 style="color: #000000; font-size: 22px; text-align: center">Por favor, confirme seu endereço de email : )</h2>
        <p style="font-size: 15px; margin: 0 0 45px 0;">Para verificar sua conta e começar a utilizar a plataforma, clique no botão abaixo!</p>
        <div style="width: 180px;  margin: 0 0 20px 0; padding: 10px 20px; background-color: #ac7fc6; border-radius: 5px; text-align: center;">
          <a href="http://www.api.bizudesign.io/users/verify/{{accessToken}}" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: #fcfcfc; font-size: 18px; margin: 0 auto;">Confirmar</a>
        </div>
      </div>
    </center>
  </body>
</html>